@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceBold.woff') format('woff'),
       url('../fonts/CirceBold.ttf')  format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceRegular.woff') format('woff'),
       url('../fonts/CirceRegular.ttf')  format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/CirceLight.woff') format('woff'),
       url('../fonts/CirceLight.ttf')  format('truetype');
  font-style: normal;
  font-weight: 300;
}
