// Setup
// -------------
$breakpoint-sep: '_' !default;
$pseudo-sep:     '-' !default;
$literal-sep:    '-' !default;
$ordinal-sep:    '' !default;

// Mapping from breakpoint prefix to min-width when breakpoint is applied.
$breakpoints: (
  null: 0,
  SM:   576px,
  MD:   768px,
  LG:   992px,
  XL:   1200px,
) !default;

// Pseudo-class and pseudo-element suffixes.
// Specify space separated list to apply all pseudos to same class:
// `$pseudos: (foo: empty hover)` would produce `.c-w-foo:empty:hover`.
//
// Specify comma separated list to create several selectors with given pseudos:
// `$pseudos: (foo: (hover, focus))` would produce `.c-w-foo:hover` and `.c-w-foo:focus`.
//
// Specify comma separated list of space separated lists to create combination
// of options described above:
// `$pseudos: (foo: (empty hover, nth-of-type(2) focus))` would produce
// `.c-w-foo:empty:hover` and `.c-w-foo:nth-of-type(2):focus`.
$pseudos: (
  hf: (hover, focus),
  h: hover,
  f: focus,
) !default;


// Grid
// -------------
$grid-gutter-base: 20px !default;

$grid-col-count: 12 !default;

$grid-gutters: (
  null: 0,
  SM:   $grid-gutter-base,
  MD:   $grid-gutter-base,
  LG:   $grid-gutter-base,
  XL:   $grid-gutter-base,
) !default;

$grid-widths: (
  null: 100%,
  SM:   540px,
  MD:   720px,
  LG:   960px,
  XL:   1140px,
) !default;


// Colors
// -------------
$palette: (
  // Greyscale
  w:  #fff,
  g1: #eeeeec,
  g2: #d3d7cf,
  g3: #babdb6,
  g4: #888a85,
  g5: #555753,
  g6: #2e3436,
  b: #000,

  // Yellow
  ly: #fce94f,
  y:  #edd400,
  dy: #c4a000,

  // Orange
  lo: #fcaf3e,
  o:  #f57900,
  do: #ce5c00,

  // Chocolate
  lc: #e9b96e,
  c:  #c17d11,
  dc: #8f5902,

  // Green
  lg: #8ae234,
  g:  #73d216,
  dg: #4e9a06,

  // Navy
  ln: #729fcf,
  n:  #3465a4,
  dn: #204a87,

  // Purple
  lp: #ad7f8a,
  p:  #75507b,
  dp: #5c3566,

  // Red
  lr: #ef2929,
  r:  #cc0000,
  dr: #a40000,

  cc: currentColor,
  tt: transparent,
  i:  inherit,
) !default;


// Backgrounds
// -------------
$background-colors: $palette !default;


// Borders
// -------------
$border-colors: $palette !default;

$border-widths: (
  1:  1px,
  i:  inherit,
) !default;

$border-radiuses: (
  10: 10px,
  5:  5px,
  c:  9999px, // Circle
  i:  inherit,
) !default;

$border-styles: (
  n:      none,
  h:      hidden,
  dt:     dotted,
  ds:     dashed,
  s:      solid,
  db:     double,
  dtds:   dot-dash,
  dtdtds: dot-dot-dash,
  w:      wave,
  g:      groove,
  r:      ridge,
  in:     inset,
  o:      outset,
  i:      inherit,
) !default;


// Text
// -------------
$colors: $palette !default;

$font-sizes: (
  16: 16px, // Base size

  xs: .75rem,
  s:  .875rem,
  m:  1rem,
  l:  1.25rem,

  h6: 1rem,
  h5: 1.25rem,
  h4: 1.5rem,
  h3: 1.75rem,
  h2: 2rem,
  h1: 2.5rem,

  d4: 3.5rem,
  d3: 4.5rem,
  d2: 5.5rem,
  d1: 6rem,
) !default;

$font-families: (
  ss: (-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif),
  s:  (Georgia, 'Times New Roman', Times, serif),
  m:  (Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace)
) !default;

$line-heights: (
  h: 1.1, // Headings
  t: 1.3, // Text
) !default;

$letter-spacings: (
  1: 1px,
  2: 2px,
) !default;

$text-indents: (
  1r:     1rem,
  -9999r: -9999px,
) !default;


// Spacings
// -------------
$margins: (
  '-3r':    -3rem,
  '-1_5r':  -1.5rem,
  '-1_25r': -1.25rem,
  '-1r':    -1rem,
  '-0_75r': -.75rem,
  '-0_5r':  -.5rem,
  '-0_25r': -.25rem,
  '0':      0,
  '0_25r':  .25rem,
  '0_5r':   .5rem,
  '0_75r':  .75rem,
  '1r':     1rem,
  '1_25r':  1.25rem,
  '1_5r':   1.5rem,
  '3r':     3rem,
) !default;

$paddings: (
  0:     0,
  0_25r: .25rem,
  0_5r:  .5rem,
  0_75r: .75rem,
  1r:    1rem,
  1_25r: 1.25rem,
  1_5r:  1.5rem,
  2r:    2rem,
  3r:    3rem,
) !default;


// Positions
// -------------
$positions: (
  -50p:  -50%,
  -100p: -100%,
   100p:  100%,
   50p:   50%,
   0:     0,
) !default;


// Dimensions
// -------------
$widths: (
  100p: 100%,
  50p:  50%,
  0:    0,
  i:    inherit
) !default;

$heights: $widths !default;

$box-shadows: ();