// Generates partials for column width, shifts ans offset.
@mixin create-grid-cols(
  $col-count: $grid-col-count
) {
  @for $i from 0 through $col-count {
    $width: percentage($i / $col-count);
    $id: #{$ordinal-sep}#{$i};

    @if $i > 0 {
      &c#{$id}  {
        flex: 0 0 $width;
        max-width: $width;
      }
    }

    &o#{$id} { margin-left: $width }
    &r#{$id} { right: $width } // Push from right
    &l#{$id} { left:  $width } // Push from left
  }
}

@mixin create-grid(
  $gutter:      0,
  $width:       null,
  $col-count:   $grid-col-count,
  $breakpoints: $breakpoints
) {
  width: $width;
  padding-left:  $gutter;
  padding-right: $gutter;

  &#{$literal-sep} {
    &f { // Fluid grid
      width: auto;
      max-width: 100%;
    }
  }

  &r {
    margin-left:  $gutter / -2;
    margin-right: $gutter / -2;
  }

  $gc-id: unique-id();
  @at-root {
    %#{$gc-id} {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-left:  $gutter / 2;
      padding-right: $gutter / 2;
    }
  }
  @for $i from 1 through $col-count {
    &c#{$ordinal-sep}#{$i} { @extend %#{$gc-id} }
  }
}
