// Generates partial for column width, shifts ans offset
@mixin generate-grid-cols(
  $col-count: $grid-col-count
) {
  @for $i from 0 through $col-count {
    $width: percentage($i / $col-count);
    $id: #{$ordinal-sep}#{$i};

    @if $i != 0 {
      &c#{$id}  {
        width: 100%;
        min-width: $width;
        max-width: $width;
      }
    }
    &o#{$id}  { margin-left: $width }
    &sl#{$id} { right: $width }
    &sr#{$id} { left:  $width }
  }
}

@mixin generate-grid(
  $gutter:      0,
  $width:       null,
  $col-count:   $grid-col-count,
  $breakpoints: $breakpoints
) {
  padding-left:  $gutter;
  padding-right: $gutter;

  &#{$literal-sep}f {
    width: $width;
  }

  &r {
    margin-left:  $gutter / -2;
    margin-right: $gutter / -2;
  }

  $gc-id: unique-id();
  @at-root {
    %#{$gc-id} {
      position: relative;
      padding-left:  $gutter / 2;
      padding-right: $gutter / 2;
    }
  }
  @for $i from 1 through $col-count {
    &c#{$ordinal-sep}#{$i} { @extend %#{$gc-id} }
  }
}
