.cur#{$literal-separator} {
  &a     { cursor: auto }
  &d     { cursor: default }
  &cm    { cursor: context-menu }
  &h     { cursor: help }
  &p     { cursor: pointer }
  &ps    { cursor: progress }
  &w     { cursor: wait }
  &cl    { cursor: cell }
  &c     { cursor: crosshair }
  &t     { cursor: text }
  &al    { cursor: alias }
  &cp    { cursor: copy }
  &m     { cursor: move }
  &nd    { cursor: no-drop }
  &na    { cursor: not-allowed }
  &as    { cursor: all-scroll }
  &cr    { cursor: col-resize }
  &rr    { cursor: row-resize }
  &nr    { cursor: n-resize }
  &er    { cursor: e-resize }
  &sr    { cursor: s-resize }
  &wr    { cursor: w-resize }
  &ner   { cursor: ne-resize }
  &nwr   { cursor: nw-resize }
  &ser   { cursor: se-resize }
  &swr   { cursor: sw-resize }
  &ewr   { cursor: ew-resize }
  &nsr   { cursor: ns-resize }
  &neswr { cursor: nesw-resize }
  &nwser { cursor: nwse-resize }
  &zi    { cursor: zoom-in }
  &zo    { cursor: zoom-out }
  &g     { cursor: grab }
  &gr    { cursor: grabbing }
  &n     { cursor: none }
}
