.cur {
  @include prop(cursor, (
      a:     auto,
      d:     default,
      cm:    context-menu,
      h:     help,
      p:     pointer,
      ps:    progress,
      w:     wait,
      cl:    cell,
      c:     crosshair,
      t:     text,
      al:    alias,
      cp:    copy,
      m:     move,
      nd:    no-drop,
      na:    not-allowed,
      as:    all-scroll,
      cr:    col-resize,
      rr:    row-resize,
      nr:    n-resize,
      er:    e-resize,
      sr:    s-resize,
      wr:    w-resize,
      ner:   ne-resize,
      nwr:   nw-resize,
      ser:   se-resize,
      swr:   sw-resize,
      ewr:   ew-resize,
      nsr:   ns-resize,
      neswr: nesw-resize,
      nwser: nwse-resize,
      zi:    zoom-in,
      zo:    zoom-out,
      g:     grab,
      gr:    grabbing,
      n:     none,
  ));
}
