@include create-responsive-classes(d) {
  @include prop(display, (
      n:  none,
      b:  block,
      fx: flex,
      li: list-item,
      ri: run-in,

      i:   inline,
      itb: inline-table,
      ifx: inline-flex,
      ib:  inline-block,

      tb:   table,
      tbcp: table-caption,
      tbc:  table-column,
      tbcg: table-column-group,
      tbhg: table-header-group,
      tbfg: table-footer-group,
      tbr:  table-row,
      tbrg: table-row-group,
      tbcl: table-cell,

      rb:   ruby,
      rbb:  ruby-base,
      rbbc: ruby-base-container,
      rbt:  ruby-text,
      rbtc: ruby-text-container,
  ));
}
