@include create-responsive-classes(fx) {

  // Shorthands to create flex rows and columns by adding a single class name.
  @include prop(display, (
      r:  flex,
      rr: flex,
      c:  flex,
      cr: flex,
  ));

  &,
  &d {
    @include prop(flex-direction, (
        r:  row,
        rr: row-reverse,
        c:  column,
        cr: column-reverse,
    ));
  }

  &w {
    @include prop(flex-wrap, (
        nw: nowrap,
        w:  wrap,
        wr: wrap-reverse,
    ));
  }

  &g {
    @for $grow from 0 through 10 {
      @include prop(flex-grow, (
          #{$grow}: $grow
      ));
    }
  }

  &s {
    @for $shrink from 0 through 10 {
      @include prop(flex-shrink, (
          #{$shrink}: $shrink
      ));
    }
  }

  &b {
    @include prop(flex-basis, (
        a:   auto,
        mac: max-content,
        mic: min-content,
        fc:  fit-content,
        c:   content,
    ));
  }
}

@include create-responsive-classes(jc) {
  @include prop(justify-content, (
      fs: flex-start,
      fe: flex-end,
      c:  center,
      sb: space-between,
      sa: space-around,
  ));
}

@include create-responsive-classes(ai) {
  @include prop(align-items, (
      fs: flex-start,
      fe: flex-end,
      c:  center,
      bs: baseline,
      s:  stretch,
  ));
}

@include create-responsive-classes(ac) {
  @include prop(align-content, (
      fs: flex-start,
      fe: flex-end,
      c:  center,
      sb: space-between,
      sa: space-around,
      s:  stretch,
  ));
}

@include create-responsive-classes(as) {
  @include prop(align-self, (
      a:  auto,
      fs: flex-start,
      fe: flex-end,
      c:  center,
      b:  baseline,
      s:  stretch,
  ));
}

@include create-responsive-classes(ord) {
  @for $order from 0 through 10 {
    @include prop(order, (
        #{$order}: $order
    ));
  }
}
