@include create-responsive-classes(ov) {
  @include prop(overflow, (
      v: visible,
      h: hidden,
      s: scroll,
      a: auto,
  ));

  &x {
    @include prop(overflow-x, (
        v: visible,
        h: hidden,
        s: scroll,
        a: auto,
    ));
  }

  &y {
    @include prop(overflow-y, (
        v: visible,
        h: hidden,
        s: scroll,
        a: auto,
    ));
  }

  &w {
    @include prop(overflow-wrap, (
        n: normal,
        b: break-word,
    ));
  }
}

.-wovs {
  @include prop(-webkit-overflow-scrolling, (
      t: touch,
      a: auto,
  ));
}
