.pe {
  @include prop(pointer-events, (
      a:  auto,
      n:  none,
      vp: visiblePainted,
      vf: visibleFill,
      vs: visibleStroke,
      v:  visible,
      p:  painted,
      f:  fill,
      s:  stroke,
      al: all,
  ));
}
