@include create-responsive-classes(pos) {
  @include prop(position, (
      s: static,
      a: absolute,
      r: relative,
      f: fixed,
  ));
}

@include create-responsive-classes(t) { @include create-partials($positions, top) }
@include create-responsive-classes(r) { @include create-partials($positions, right) }
@include create-responsive-classes(b) { @include create-partials($positions, bottom) }
@include create-responsive-classes(l) { @include create-partials($positions, left) }
