.st {
  @include prop_ps(stroke, $border_colors);

  &w { @include create-partials($border_widths, stroke-width) }

  &lc {
    @include prop(stroke-linecap, (
        b: butt,
        s: square,
        r: round,
    ));
  }

  &lj {
    @include prop(stroke-linejoin, (
        m: miter,
        r: round,
        b: bevel,
    ));
  }

  &op {
    @for $opacity from 0 through 100 {
      @include prop(stroke-opacity, (
          $opacity: $opacity / 100
      ));
    }
  }
}
