.tbl {
  @include prop(table-layout, (
      a: auto,
      f: fixed,
  ));
}

.cps {
  @include prop(caption-side, (
      t: top,
      b: bottom,
  ));
}

.ec {
  @include prop(empty-cells, (
      s: show,
      h: hide,
  ));
}

.bdce {
  @include prop(border-collapse, (
      c: collapse,
      s: separate,
      i: inherit,
  ));
}
