@include create-responsive-classes(t) {
  &d { @include prop_ps(text-decoration, $text-decorations) }

  &a {
    @include prop(text-align, (
        l: left,
        c: center,
        r: right,
        j: justify,
    ));

    &l {
      @include prop(text-align-last, (
          l: left,
          c: center,
          r: right,
          j: justify,
      ));
    }
  }
}

.t {
  &i { @include create-partials($text-indents, text-indent) }

  &ds {
    @include prop(text-decoration-style, (
        s:  solid,
        db: double,
        dt: dotted,
        ds: dashed,
        w:  wavy,
        i:  inherit,
    ));
  }

  &dsk {
    @include prop(text-decoration-skip, (
        n:   none,
        o:   objects,
        sp:  spaces,
        i:   ink,
        e:   edges,
        bxd: box-decoration,
    ));
  }

  &t {
    @include prop(text-transform, (
        c:  capitalize,
        u:  uppercase,
        l:  lowercase,
        n:  none,
        fw: full-width,
    ));
  }

  &ov {
    @include prop(text-overflow, (
        e: ellipsis,
        c: clip,
    ));
  }
}
