@include create-responsive-classes(ts) {
  &#{$literal-sep} {
    &n { transform: none }
    &i { transform: inherit }
  }

  &r {
    &#{$ordinal-sep} {
      &0 { transform: rotate(0deg) }
    }

    &#{$literal-sep} {
      @for $i from 1 through 8 {
        $angle: $i * 45;
        &ccw#{$angle}d { transform: rotate(-#{$angle}deg) }
        &cw#{$angle}d  { transform: rotate( #{$angle}deg) }
      }
    }
  }

  &s#{$ordinal-sep} {
    @for $i from 0 through 8 {
      $scale: $i * 25;
      &#{$scale} { transform: scale(#{$scale / 100}) }
    }
  }

  &t {
    &x#{$ordinal-sep} {
      @for $i from -4 through 4 {
        $x: $i * 25;
        &#{$x}p { transform: translateX(#{$x * 1%}) }
      }
    }

    &y#{$ordinal-sep} {
      @for $i from -4 through 4 {
        $y: $i * 25;
        &#{$y}p { transform: translateY(#{$y * 1%}) }
      }
    }
  }
}
