@include create-responsive-classes(ts) {
  @include prop(transform, (
      n: none,
      i: inherit,
  ));

  &r {
    @include prop(transform, (
        0: rotate(0deg),
    ));

    @for $i from 1 through 8 { // 45 … 360
      $angle: $i * 45;

      @include prop(transform, (
          ccw#{$angle}d: rotate(-#{$angle}deg),
          cw#{$angle}d:  rotate( #{$angle}deg),
      ));
    }
  }

  &sc {
    @for $i from 0 through 8 { // 0 … 2x
      $scale: $i * 25;

      @include prop(transform, (
          #{$scale}: scale(#{$scale / 100})
      ));
    }
  }

  &t {
    @for $i from -4 through 4 { // -100% … 100%
      $shift: $i * 25;

      @include prop(transform, (
          #{$shift}p:  translate (#{$shift * 1%}, #{$shift * 1%}),
          x#{$shift}p: translateX(#{$shift * 1%}),
          y#{$shift}p: translateY(#{$shift * 1%}),
      ));
    }

    &3d {
      @include prop(transform, (
          0: translate3d(0, 0, 0),
      ));
    }
  }

  &s {
    @include prop(transform-style, (
        p3d: preserve-3d,
        f:   flat,
        i:   inherit,
    ));
  }

  &o {
    @include prop(transform-origin, (
        lt: left top,
        lb: left bottom,
        lc: left center,
        rt: right top,
        rb: right bottom,
        rc: right center,
        ct: center top,
        cb: center bottom,
        cc: center center,
    ));
  }
}

.bv {
  @include prop(backface-visibility, (
      v: visible,
      h: hidden,
  ));
}
