.tr {
  &p {
    @include prop(transition-property, (
        n: none,
        a: all,
    ));
  }

  &d {
    @for $i from 1 through 10 { // 0ms … 1s
      $duration: $i * 100ms;

      @include prop(transition-duration, (
          #{$duration}: $duration
      ));
    }
  }

  &tf {
    @include prop(transition-timing-function, (
        e:   ease,
        ei:  ease-in,
        eo:  ease-out,
        eio: ease-in-out,
        l:   linear,
        ss:  step-start,
        se:  step-end,
    ));
  }
}
