// Generator
// -------------
$breakpoint-sep:   '_' !default;
$pseudo-class-sep: '-' !default;
$literal-sep:      '-' !default;
$ordinal-sep:      '' !default;


// Specificity
// -------------
// Mapping from breakpoint prefix to min-width when breakpoint is applied.
$breakpoints: (
  null: 0,
  SM:   580px,
  MD:   992px,
  LG:   1200px,
) !default;
$pseudo-classes: (
  hf: hover focus,
  h:  hover,
  f:  focus,
) !default;


// Background
// -------------
$background-colors:        (w: white) !default;
$background-colors-pseudo: (w: white) !default;


// Foreground
// -------------
$colors:        (b: black) !default;
$colors-pseudo: (b: black) !default;


// Borders
// -------------
$border-widths:        (1: 1px) !default;
$border-radiuses:      (10: 10px) !default;
$border-colors:        (b: black) !default;
$border-colors-pseudo: (b: black) !default;


// Font & Text
// -------------
$font-families: (
  ss: (-apple-system, Helvetica, Arial, sans-serif),
  s:  (Georgia, Times, serif)
) !default;
$font-sizes:      (17: 17px) !default;
$text-indents:    (1e: 1em) !default;
$line-heights:    (120p: 120%) !default;
$letter-spacings: () !default;


// Spacings
// -------------
$margins:  (0: 0) !default;
$paddings: (0: 0) !default;


// Dimensions
// -------------
$heights: (100p: 100%) !default;
$widths:  (100p: 100%) !default;


// Positions
// -------------
$positions: (0: 0) !default;
