.wo {
  &b {
    @include prop(word-break, (
        n:  normal,
        ka: keep-all,
        ba: break-all,
    ));
  }

  &w {
    @include prop(word-wrap, (
        n:  normal,
        bw: break-word,
    ));
  }
}
