@include create-responsive-classes(z) {
  @include prop(z-index, (
      a: auto,
      i: inherit,
  ));

  @for $z-index from 0 through 10 { // 0 … 10
    @include prop(z-index, (
        $z-index: $z-index
    ));
  }
}
