.g {
  margin-left:  auto;
  margin-right: auto;

  &r {
    display: flex;
    flex-wrap: wrap;
  }

  @each $id in map-keys($breakpoints) {
    @include respond-to($id) {
      @include create-grid(map-get($grid-gutters, $id), map-get($grid-widths, $id));
    }
  }
}

@include create-responsive-classes(g) { @include create-grid-cols() }
