.g {
  margin-left:  auto;
  margin-right: auto;

  &r {
    display: flex;
    flex-wrap: wrap;
  }

  @each $name in map-keys($media-queries) {
    @include respond-to($name) {
      @include create-grid(map-get($grid-gutters, $name), map-get($grid-widths, $name));
    }
  }
}

@include create-responsive-classes(g) { @include create-grid-cols() }
