// Grid
// -------------
$grid-col-count: 12;
$grid-gutters: (
  null: 0,
  SM:   20px,
  MD:   20px,
  LG:   20px,
) !default;
$grid-widths: (
  null: null,
  SM:   720px,
  MD:   960px,
  LG:   1140px,
) !default;
